@import "../../assets/styles/variables.scss";

.home {
    padding: 2rem 3rem;
    .home-title {
        display: flex;
        justify-content: space-between;
        h1 {
            font-family: $font;
            font-size: 2rem;
            color: $blue;
        }
        .add {
            border: none;
            border-radius: 10px;
            background-color: $purple;
            color: white;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            span {
                font-size: 26px;
                margin-left: 5px;
                line-height: 0;
            }
        }
    }
    
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-top: 1.5rem;
        .card {
            background-color: $blue;
            border-radius: 10px;
            height: 7rem;
            width: 1fr;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            h3 {
                font-family: $font;
                color: white;
                width: fit-content;
            }
            .delete {
                display: none;
                width: fit-content;
                height: fit-content;
                padding: 15px 10px;
                border: none;
                border-radius: 5px;
                background-color: $purple;
                color: white;
            }
        }
        .card:hover {
            background-color: rgb(17, 129, 159, 0.7);
        }
        .card:hover .delete {
            display: inline-block;
        }
    }
}