@import "../../assets/styles/variables.scss";

.navbar {
    background-color: $blue;
    .navbar-brand {
        color: white;
        margin-left: 2rem;
        img {
            margin-right: 5px;
        }
        
    }
    .admin-info {
        display: flex;
        gap: 15px;
        align-items: center;
        color: white;
        font-size: 16px;
        padding: 10px 2rem;
        .admin-pic {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }}
}